#factTickets{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
#comprobante {
  width: 58mm;
  display: none;
  flex-direction: column;
  gap: 0.3em;
  /* border: solid 2px black; */
  padding: 5mm;
  background-color: white;
}
#comprobante img {
  width: 35mm;
}
#comprobante h1 {
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em 0;
}
#comprobante h2 {
  font-size: 1em;
}
#comprobante h3 {
  font-size: 0.8em;
}
#comprobante table {
  font-size: 0.8em;
}
#comprobante table td {
  padding: 0.2em;
}
.btn {
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  border: 0;
}
.btnNaranja {
  background-color: darkorange;
}
.btnRojo {
  background-color: red;
  color: white;
}
.btnVerde {
  background-color: green;
  color: white;
}
#botonera{
    margin-top: 3em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
}
#qrCAE{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}
@media print {
    #botonera{
      display: none !important;
    }
    #factTickets{
      background-color: none;
      width: fit-content;
      height: fit-content;
    }
    #comprobante{
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
    }
    #comprobante.comprobanteCAE table{
      /* border-collapse: collapse; */
      position: relative;
      /* table-layout: fixed; */
      max-width: 58mm;
      width: 100%;
      font-size: 0.75em;
    }
    /* .comprobanteCAE table thead{
      overflow: hidden;
      color: black;
      font-weight: 600;
      border-bottom: 2px solid black;
    } 
    .comprobanteCAE table thead tr th{
      padding: 0.5em 0;
    }*/
    .tdBoderBottom{
      border-bottom: 1px solid gray;
    }
    .comprobanteCAE table tbody tr td{
      overflow-x: visible;
    }
    .comprobanteCAE table tbody tr td:nth-child(1){
      padding-top: 1em;
      /* overflow-x: hidden; */
      /* white-space: nowrap; */
      /* text-overflow: ellipsis; */
      width: fit-content;
    }
    .comprobanteCAE table tbody tr td:nth-child(2), .comprobanteCAE table thead tr th:nth-child(2){
      text-align: center;
      width: fit-content;
    }
    .comprobanteCAE table tbody tr td:nth-child(3), .comprobanteCAE table thead tr th:nth-child(3){
      text-align: center;
      width: fit-content;
    }
    .comprobanteCAE table tbody tr td:nth-child(4){
      text-align: right;
      width: fit-content;
    }
    .tablaComanda tr{
      border-bottom: 1px solid gray;
    }
    #factCont{
      display: none !important;
    }
    #factSubCont{
      display: none !important;
    }
    header{
      display: none !important;
    }
    #nuevaVenta{
      display: none !important;
    }
    #factBotonesRapidos{
      display: none !important;
    }
    #factBotonesPersonalizados{
      display: none !important;
    }
    .mensajeInfo{
      display: none !important;
    }
    #contRegistroFact{
      display: none !important;
    }
    .noImprimir{
      display: none !important;
    }
    footer{
      display: none !important;
    }
}
@page{
  margin: 5mm;
}
