@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --anchoMax: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: red;
  font-family: "Roboto", sans-serif;
}
#cont {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.backMenu{
  width: 100%;
  max-width: var(--anchoMax);
  padding: 0 1em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-content: flex-start;
}
.backMenu > h1, .backMenu > h2, .titulo, #backRender > h2{
  width: 100%;
  color: white;
  border-bottom: 3px solid white;
  display: flex;
}
.backMenu > h1 > span {
  font-size: 1.5rem;
}
.backMenu > h2, #backRender > h2{
  border-bottom: 2px solid white;
}
#cont .backSubMenu{
  gap: 1em;
  margin-bottom: 2em;
}
.backSubMenu > h1{
  font-size: 1.6em;
}
#backMenuShow{
  align-self:center;
  margin-left: auto;
  font-size: 1rem;
  cursor: pointer;
  display: none;
}
.backCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 1em;
  padding: 1em;
  width: 170px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.backCard:hover > h1 {
  color: red;
}
.backCard h1 {
  transition: 0.5s;
  font-size: 1.2em;
}
.backCard img {
  height: 35px;
}
#backRender {
  margin: 0 auto;
  padding: 0 1em;
  flex-grow: 1;
  max-width: 1000px;
  width: 100%;
}
#backRender #prodCards, #backRender #localCards{
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}
#backRender .backListaProdCard, #backRender .backListaLocalCard{
  background-color: white;
  width: 300px;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  padding: 1em;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#backRender .backListaProdCard img, #backRender .backListaLocalCard img{
  width: 100%;
  position: absolute;
  left: 0;
  top: -150px;
}
#backRender .backListaProdCard h1, #backRender .backListaLocalCard h1{
  font-size: 1.5em;
}
#backRender .backListaFotosCard{
  background-color: white;
  width: 300px;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#backRender .backListaFotosCard h1{
  font-size: 1.5em;
}
#backRender .backListaFotosCard h2{
  font-size: 1.2em;
}
#backRender .backListaFotosCard img{
  width: 50%;
}
table {
  border-collapse: collapse;
  font-size: 0.8em;
}
table thead {
  color: white;
  background-color: gray;
}
table tbody tr {
  background-color: white;
}
table tbody tr:nth-child(odd) {
  background-color: rgb(207, 207, 207);
}
table tbody tr:hover {
  background-color: gray;
  color: white;
}
table tbody tr .editar {
  cursor: pointer;
}
table th,
table td {
  border-collapse: collapse;
  padding: 0.7em;
}
table input{
  padding: 0.3em;
  width: 6em;
  text-align: right;
}
.numTabla{
  text-align: right;
}
.unchecked{
  color: gray;
}
.fila td{
  display: flex;
  cursor: pointer;
}
.fila td label{
  flex-grow: 1;
  cursor: pointer;
  padding: 0.7em;
}
.fila td input{
  margin: 0.7em;
}
#tablaCategorias{
  width: auto;
}
.tablaCategoria{
  font-weight: 600;
  color: white;
  background-color: darkred;
  text-align: center;
  font-size: 1.2em;
}
#preciosForm{
  margin: 1em auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
#preciosEnviar{
  margin: 1em 0;
}
#backRender .editor{
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  max-width: 400px;
}
#backRender .editor span{
  display: flex;
  gap: 1em;
  align-items: baseline;
}
#backRender .editor label{
  width: 120px;
}
#backRender .editor textarea{
  flex-grow: 1;
}
#backRender .editor input{
  padding: 0.3em;
  flex-grow: 1;
}
#backRender .editor input[type="checkbox"]{
  flex-grow: unset;
}
#backRender .editor #variedades, #backRender .editor #editProdNuevaVariedadCreacion{
  flex-direction: column;
}
#backRender .editor #variedades>span{
  gap: 0;
  align-items: center;
}
.backListaProdCardBoton, .btn{
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  border: 0;
}
.btnNaranja{
  background-color: darkorange;
}
.btnRojo{
  background-color: red;
  color:white;
}
.btnVerde{
  background-color: green;
  color:white;
}
.btnVerdeOutline{
  color: green;
  border: 3px solid green;
}
.btnAzul{
  background-color: blue;
  color:white;
}
.btnGris{
  background-color: gray;
  color:white;
  cursor: auto;
}
.btnSmall{
  font-size: 0.9em;
}
.off{
  opacity: 0.5;
}
.inputBtn{
  border: 0;
}
.backListaProdTablaBoton, .backListaProdFabricaBoton{
  cursor: pointer;
  font-weight: 600;
}
#editProdNuevaVariedad, #editProdEliminarVariedad{
  background-color: rgb(207, 207, 207);
  padding: 0.25em;
}
header{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
header > span{
  width: 100%;
  max-width: var(--anchoMax);
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 1em;
  position: relative;
}
header span img {
  width: 150px;
}
#userIcon {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}
#userIcon img {
  width: 2em;
  margin-bottom: 0.2em;
}
#cerrarSesion{
  width: max-content;
  flex-direction: column;
  gap: 1em;
  background-color: white;
  font-weight: 600;
  font-size: 0.8em;
  position: absolute;
  bottom: -100px;
  right: 0px;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 10;
}
#cerrarSesionBtn{
  cursor: pointer;
  color:red;
}
#cerrarSesionBtn:hover{
  color:darkred;
}
#loginForm {
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border-radius: 1em;
}
#loginForm span {
  font-size: 1.5em;
}
#loginForm input {
  padding: 0.5em;
}
footer {
  background-color: darkred;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  color: white;
  margin-top: 1em;
  width: 100%;
}
footer a {
  color: inherit;
}
footer img {
  width: 100px;
}
.small {
  width: 100px;
  font-size: 0.7em;
}
.small img {
  height: 25px;
}
.fotosHeader{
  display: flex;
  align-items: baseline;
  color: white;
  gap: 0.5em;
  margin-bottom: 1em;
  border-bottom: 3px solid white;
  width: 100%;
}
.fotosHeader h1{
  font-size: 1.6em;
}
.fotosHeader h2{
  font-size: 1.3em;
}
#cortina, .cortina{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
#cortina #confirmarEliminar, #cortina #confirmarAbrirCajaAuto{
  background-color: white;
  padding: 1em;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#errores{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  z-index: 40;
}
.mensajeErrorForm, .mensajeInfo{
  position: fixed;
  top: 10px;
  left: 10px;
  max-width: 600px;
  background-color: darkred;
  color: white;
  padding: 2em;
  border-radius: 1em;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
  animation-name: errorForm;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes errorForm {
  0% {
    opacity: 0;
    translate: 0 -100px;
  }
  20% {
    opacity: 1;
    translate: 0;
  }
  80% {
    opacity: 1;
    translate: 0;
  }
  100% {
    opacity: 0;
    translate: 0 -100px;
  }
}
#timeBar{
  display: flex;
  width: 100%;
  height: 5px;
  background-color: rgba(0,0,0,0.5);
  margin-top: 0.5em;
  animation-name: errorFormTimeBar;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes errorFormTimeBar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100%{
    width: 100%;
    opacity: 0;
  }
}
.mensajeInfo{
  background-color: darkgreen;
  top: unset;
  left: unset;
  bottom: 10px;
  right: 10px;
}
.pedidosCont, .produccionCont, #produccionHeader, .titulo, .reporte{
  display: flex;
  gap: 2em;
  margin: 1em auto;
  width: 100vw;
  max-width: 1000px;
}
.produccionCont{
  width: 100%;
}
.pedidos, .produccion{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 1em;
}
.pedidosCard, .pedidosProdCard{
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
.pedidosCard .pedidosCardTipo, .pedidosProdCard .pedidosCardTipo{
  position: absolute;
  width: 40px;
  top: 0px;
  right: -10px;
}
.pedidosCard .pedidosCardMsj, .pedidosProdCard .pedidosCardMsj{
  position: absolute;
  width: 30px;
  top: 50px;
  right: -10px;
  animation-name: mensajeNuevo;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
@keyframes mensajeNuevo {
  from{
    transform: translateY(-3px) rotate(0deg);
  }
  to{
    transform: translateY(3px) rotate(10deg);
  }  
}
.pedidoCardNuevo{
  font-weight: 600;
  background-color: orange;
  animation-name: pedidoNuevo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  order: 10;
}
@keyframes pedidoNuevo {
  from{transform: scale(100%);}
  to{transform: scale(105%);}
}
.pedidoCardLeido{
  order: 5;
}
.pedidoCardEntregado{
  order: 3;
}
.pedidoCardCancelado{
  order: 2;
}
.pedidoCardEntregado, .pedidoCardCancelado{
  display: none;
}
.verPedidosCerrados, #verPedidosProduccion{
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  order: 1;
  align-items: center;
  cursor: pointer;
  font-size: 0.9em;
  gap: 1em;
}
.verPedidosCerrados img{
  width: 30px;
}
.pedidoProdentregado{
  display: none;
}
#verPedidosProduccion{
  order: 0;
}
.pedidoProdcancelado{
  display: none;
}
.pedidosChat, .produccionPedido{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.chatMensajes{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.chatMensaje{
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.chatMensaje .chatMensajeFecha{
  font-size: 0.8em;
  opacity: 0.7;
  border-bottom: 1px solid gray;
  margin-bottom: 0.5em;
}
#msjL, #mensajeLocal{
  background-color: lightsalmon;
  border-radius: 1em 1em 0 1em;
  margin-left: 2em;
}
#msjU, #mensajeFabrica{
  background-color: white;
  border-radius: 1em 1em 1em 0;
  margin-right: 2em;
}
.chatSend{
  align-self: flex-end;
  display: flex;
  width: 100%;
  position: relative;
}
.chatBtnEnviar{
  background-color: orange;
  padding: 0.5em;
  font-weight: 600;
  cursor: pointer;
  border: 0
}
.chatInput{
  flex-grow: 1;
  padding: 0.5em;
}
.inputError{
  display: none;
  position: absolute;
  top: -100px;
  padding: 1em;
  background-color: orange;
  opacity: 0;
  animation-name: none;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes inputError {
  0%{opacity: 0; top: -50px}
  20%{opacity: 1; top: -100px}
  80%{opacity: 1; top: -100px}
  100%{opacity: 0; top: -150px}
}

.btnChat{
  display: none;
}

.respuestasRapidas{
  display: flex;
  gap: 1em;
  background-color: darkred;
  padding: 0.5em;
  border-radius: 0 0 1em 1em;
  justify-content: center;
}
.respuestasRapidas div{
  background-color: white;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.5em;
}
#RRlisto{
  background-color:lightgreen;
}
#RRprep15, #RRprep30{
  background-color:lightskyblue;
}
#RRsinStock{
  background-color:lightcoral;
}
.pedidoCard{
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}
.pedidoEstado{
  display: flex;
  gap: 1em;
}
.pedidoEstado span{
  min-width: 8em;
}
.pedidoEstadoBoton{
  padding: 1em;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
}
#actividadTableCont{
  position: relative;
  width: 90vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}
#actividadFiltrar{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0.4em;
  background-color: orange;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8em;
}
#actividadFiltrosTabla{
  display: flex;
  position: relative;
  z-index: 3;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: fit-content;
  background-color: orange;
  text-align: left;
  margin-top: 1em;
  border-radius: 1em;
}
#actividadCerrarFiltros{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* #actividadQuitarFiltros{
  background-color: red;
  padding: 0.4em;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8em;
  width: fit-content;
} */
#actividadPaginado{
  display: flex;
  align-self: flex-end;
  gap: 1em;
  color: white;
  background-color: gray;
  padding: 0.5em;
}
#actividadPaginado span{
  cursor: pointer;
}
.anchoMax{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
#tablaProduccionCard{
  text-align: center;
}
.pedidosProdInfo{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background: white;
  margin-top: 1em;
}
.pedidosProdInfo h2{
  font-size: 1.2em;
}
#calendarioPedidos{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#calendarioPedidos div{
  display: flex;
  gap:1em;
  border-bottom: 1px solid gray;
  padding-bottom: 0.2em;
}
#calendarioPedidos div span:first-child{
  font-weight: 600;
}
.pedidosProdInfo .localEstadoPedido{
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.pedidosProdInfo .localSemaforo{
  display: flex;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.pedidosProdInfo .proximo{
  background-color: gray;
  border: 2px solid black;
}
.pedidosProdInfo .abierto{
  background-color: yellow;
  border: 2px solid black;
}
.pedidosProdInfo .demorado{
  background-color: orange;
  border: 2px solid black;
}
.pedidosProdInfo .cargado{
  background-color: green;
  border: 2px solid black;
}
.pedidosProdInfo .aceptado{
  background-color: blue;
  border: 2px solid black;
}
.pedidosProdInfo .entregado{
  background-color: blueviolet;
  border: 2px solid black;
}
.pedidosProdInfo .aplazado{
  background-color: red;
  border: 2px solid black;
}
#backRender #nuevaProduccion{
  width: 100%;
  max-width: max-content;
}
#backRender .pedidoProduccionCeldaImporte span{
  display: inline-block;
}
#datosFloat{
  background-color: white;
  border-top: 2px solid gray;
  padding: 1em;
  width: 100%;
  display: flex;
  gap: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#backRender #datosFloat > span{
  gap: 0.5em;
}
#backRender #datosFloat input{
  padding: 0.5rem;
  font-size: 1em;
}
#pedidoProduccionTotal{
  font-weight: 600;
  font-size: 1.2em;
}
.pedidoProduccionCantidad{
  width: 4em;
}
.categoriaProduccion{
  border-left: 8px solid orange;
}
.pedidoProduccionUltimoPedido{
  width: 3em;
  text-align: center;
  display: none;
}
.visible{
  display: inline-block;
}
.invisible{
  display: none;
}
#estadoPedidos{
  font-size: 0.8em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 200px;
}
.produccionSemaforo{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#produccionSemaforos{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  border: 2px solid gray;
  padding: 0.5em;
  border-radius: 0.5em;
  align-items: flex-start;
}
#produccionSemaforos > span{
  font-size: 1.2em;
  align-self: center;
}
#produccionSemaforos > div{
  display: flex;
  gap: 1em;
  border-top: 1px solid gray;
  padding-top: 0.5em;
}
#produccionSemaforos > div div{
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.prodSemaforoproximo{
  background-color: gray;
}
.prodSemaforoabierto{
  background-color: yellow;
}
.prodSemaforodemorado{
  background-color: orangered;
}
.prodSemaforocargado{
  background-color: green;
}
.prodSemaforoaceptado{
  background-color: blue;
}
.prodSemaforoentregado{
  background-color: blueviolet;
}
.prodSemaforoaplazado{
  background-color: red;
}
.prodSemaforopersonalizado{
  background-color: white;
  border: 1px solid black;
}
#pedidoProduccionModificar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
}
#pedidoProdHeadForm{
  display: flex;
  gap: 0.5em;
}
.sinFlechas::-webkit-outer-spin-button,
.sinFlechas::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
.sinFlechas[type=number] {
    -moz-appearance: textfield;
}

#backRender input[type=color] {
  flex-grow:0;
  padding: 0;
}

#muestraColorCategoria{
  display: inline-block;
  height: 10px;
  width: 20px;
}
.categoriaTabla{
  background-color: black;
  color: white;
}
.verProdFabrica{
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.verProdFabrica span{
  visibility: hidden;
  position: absolute;
  bottom: 40px;
  left: 30px;
  border: 10px solid white;
  border-radius: 1em 1em 1em 0;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  flex-direction: column;
  background-color: white;
  color:black;
}
.verProdFabrica span img{
  width: 150px;
}
.verProdFabrica:hover span{
  visibility: visible;
}
#backRender .editor .cantidadCategoria{
  display: inline;
}
.backListaLocalCard .servicioactivo{
  font-weight: 600;
  color: green;
}
#nuevoLocalCalendario, #nuevoLocalServicios{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#nuevoLocalCalendario div, #nuevoLocalServicios div{
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.reporte{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.reporte h1, .reporte h2{
  color: white;
}
#reportesPedidos{
  display: flex;
  gap: 2em;
  align-items: flex-start;
  flex-wrap: wrap;
}
.tablaCeldaNumero{
  text-align: center;
}
#reportesValorizados table tbody tr td:first-child{
  text-align: left;
}
#reportesValorizados table tbody tr td{
  text-align: center;
}
#detallesFacturacion{
  font-size: 1em;
}
#detallesFacturacion input{
  font-size: 1em;
}
#detallesFacturacion td{
  padding: 0;
}
#detallesFacturacion .cod{
  width: 3em;
}
#detallesFacturacion .cant{
  width: 5em;
}
#detallesFacturacion .precio{
  width: 4em;
}
#nuevaVenta table tbody tr{
  background-color: white;
  border-bottom: 1px solid black;
}
#nuevaVenta table tbody tr:hover {
  background-color: lightgray;
  color: inherit;
}
#nuevaVenta table tbody tr td input {
  border: 0;
  background-color: transparent;
}
#backRender #nuevaVenta{
  max-width: fit-content;
}
#backRender #totalFacturacion{
  width: 100%;
}
#itemsfacturacion tr td:first-child,
#itemsfacturacion tr td .cant{
  text-align: center;
}
#itemsfacturacion tr td:nth-child(7),
#itemsfacturacion tr td:nth-child(8){
  text-align: right;
}
#errorInfoFacturacion{
  display: flex;
  width: 20%;
  position: fixed;
  top: 50%;
  left: 40%;
  background-color: red;
  color: white;
  font-weight: 600;
  justify-content: center;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#tablaReportePlanta{
  width: fit-content;
}

.factCont .factSubCont{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1em;
  width: 100%;
  align-items: flex-start;
}
.factCont #backRender{
  max-width: inherit;
}
.factCont > header img{
  width: 100px;
}
.factCont > header span{
  padding: 0.5em;
}
.factCont #factBotonesRapidos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
  height: fit-content;
}
.factCont #factBotonesRapidos > h1{
  font-size: 1.5em;
  color: white;
  width: 100%;
  border-bottom: 2px solid white;
  margin-bottom: 0.5em;
}
.factCont .factBotonRapido{
  display: flex;
  position: relative;
  overflow: hidden;
  height: 75px;
  width: 150px;
  cursor: pointer;
  border-radius: 15px 0 0 0;
  transition: 0.3s;
}
.factCont .factBotonRapido .factBotonTxt{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
  /* color: white; */
  font-weight: 600;
  font-size: 1.5em;
  /* text-shadow: 3px 3px 2px black; */
  background-color: rgba(255,255,255,0.7);
  padding: 0.2em;
}
.factCont .factBotonRapido .factBotonTxt h1{
  font-size: 0.7em;
  text-wrap: nowrap;
}
.factCont .factBotonRapido .factBotonTxt h2{
  font-size: 0.5em;
}
.factCont .factBotonRapido img{
  width: 150px;
  height: 150px;
}
.factCont .factBotonRapido:hover{
  filter: grayscale(100%);
}
.flexgrow{
  flex-grow: 1;
  justify-content: center;
}
#facturacionDetalles{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
}
.btnPedidoEntregado{
  font-size: 0.8em;
  margin-top: 0.5em;
}
#backRender .editor #btnSenia{
  display: none;
}
#backHome{
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 3em;
}
#backHome img{
  width: 2em;
}
#InputRegistroFacturacion input, #InputRegistroGastos input{
  margin-left: 0.5em;
  font-size: 1em;
  border: 0;
}
#InputRegistroFacturacion, #InputRegistroGastos{
  margin-bottom: 1em;
}
#contRegistroFact, #contRegistroGastos{
  display: flex;
  gap: 2em;
}
.resumenRegistroFact, #resumenRegistroGastos{
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 1em;
  height: fit-content;
}
.cortina span{
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: black;
  animation-name: cortinaSpan;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.cortina span #loadingImg{
  width: 80px;
  transform: translate(0, -7px);
  filter: invert(100%);
  animation-name: loadingImg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes cortinaSpan {
  0%{
    box-shadow: 0 0 0 black;
  }
  100%{
    box-shadow: 0 0 20px black;
  }
}
@keyframes loadingImg {
  0%{
    transform: rotate(0deg);
  }
  90%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.resumenFacturaciones{
  font-size: 1.1em;
}
#reportePlantaCategorias .nombresProductos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  max-width: 400px;
}
#reportePlantaCategorias .nombreProducto, #AMcategoriaReportePlanta .productosFabrica span{
  background-color: rgb(62, 62, 62);
  padding: 0.5em;
  color: white;
}
#AMcategoriaReportePlanta .productosFabrica{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;  
}
#backRender #AMcategoriaReportePlanta{
  max-width: 90vw;
}
#backRender #AMcategoriaReportePlanta input{
  max-width: 10em;
}
#editorFacturacion{
  position: relative;
  z-index: 3;
}
#btnFactA{
  background-color: darkorange;
  padding: 1em;
  position: absolute;
  height: 3em;
  bottom: -3em;
  left: 1em;
  border-radius: 0 0 1em 1em;
  z-index: 2;
}
#inputCuit{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#tablaFacturacionLocalRegistros, #tablaGastosLocalRegistros{
  height: fit-content;
}
#tablaFacturacionLocalRegistros tr td{
  height: 100%;
}
#facturacionLocalSenias tbody img{
  width: 25px;
  cursor: pointer;
}
#formasDePago{
  display: flex;
  flex-direction: column;
}
.pagoMultiple{
  display: none;
}
#preloadSenia{
  display: flex;
  flex-direction: column;
}
#contGastos{
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 30;
}
#contGastos > div{
  height: fit-content;
}
.factBotoneraBtn{
  display: flex;
  background-color: darkred;
  /* width: 70px; */
 /*  position: absolute;
  bottom: 15px;
  right: 15px; */
  height: fit-content;
  cursor: pointer;
  padding: 0.7em;
  border-radius: 50%;
  transition: 0.5s;
}
.factBotoneraBtn:hover{
  background-color: orange;
}
.factBotoneraBtn img{
  width: 40px;
  /* height: auto; */
  filter: invert(100);
}
#factBotoneraXtra{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.factAll{
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4em;
  height: 1.4em;
}
.factX{
  background-color: darkslategray;
  color: white;
}
.factA{
  background-color: darkblue;
  color: white;
}
.factB{
  background-color: darkgreen;
  color: white;
}
.factC{
  background-color: darkorange;
  color: white;
}
.factS{
  background-color: darkred;
  color: white;
}
.seniaAll{
  font-weight: 600;
}
.seniaPendiente{
  color: red;
}
.seniaRetirada{
  color: darkgreen;
}
.seniaCancelada{
  color: gray;
}
.importe{
  text-align: right;
}
.factRegObservaciones, .cierreCajaObservaciones{
  display: none;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 0;
  left: 120%;
  padding: 0.7em;
  gap: 0.3em;
  border-radius: 1em;
  z-index: 10;
}
.factRegObservaciones span, .cierreCajaObservaciones span{
  display: flex;
}
.factRegFDPinfo, .cierreCajaInfo{
  position: relative;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
}
.factRegFDPinfo:hover .factRegObservaciones, .cierreCajaInfo:hover .cierreCajaObservaciones{
  display: flex;
  color: black;
}
.factRegFDP{
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.factRegSenia{
  color: darkred;
}
.factRegNC{
  color: orangered;
}
.reimprimirTicket{
  width: 25px;
  cursor: pointer;
}
#total{
  font-weight: 600;
  font-size: 1.5em;
}
#verMasSenias{
  margin-top: 1em;
}
.btnHeader{
  background-color: white;
  color: red;
  font-size: 0.6em;
  margin-left: 1em;
  border-radius: 0.5em 0.5em 0 0;
}
.proPersABM{
  font-weight: 600;
  cursor: pointer;
}
#factBotonesPersonalizados{
  margin-top: 1em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.factBotonPersRapido{
  width: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 1em;
}
.factBotonPersRapido h1{
  font-size: 1em;
}
.factBotonPersRapido h2{
  font-size: 0.8em;
  color: gray;
}
#cierreCajaContenedor{
  display: flex;
  gap: 1em;
  font-size: 0.9em;
  align-items: stretch;
  align-content: center;
  margin: 1em 0;
}
#cierreCajaContenedor .resumenRegistroFact{
  height: auto;
}
.cierreCajaSigno{
  font-size: 3em;
  color: white;
  font-weight: 600;
  align-self: center;
}
form.editor#cierreCajaCierre{
  max-width: fit-content;
}
form.editor#cierreCajaCierre table thead{
  background-color: white;
  color: black;
  border-bottom: 2px black solid;
}
form.editor#cierreCajaCierre table tbody tr{
  background-color: white;
  border-bottom: 1px black solid;
  transition: 0.3s;
}
form.editor#cierreCajaCierre table tbody tr:hover{
  background-color: lightgray;
  color: black;
}
form.editor#cierreCajaCierre table tbody tr #nombre{
  /* width: 100%; */
  text-align: left;
}
form.editor#cierreCajaCierre table tbody tr input{
  width: 10em;
}
#cierreCajaAperturaContenedor{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#backRender .editor .resumenFacturacion{
  display: flex;
  flex-direction: column;
  align-items: unset;
}

#backRender .editor .resumenFacturacionScroll{
  position: fixed;
  flex-direction: row;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 1em;
  z-index: 20;
  justify-content: center;
  align-items: end;
  border-top: 3px solid red;
}
#backRender .editor .resumenFacturacionScroll span:nth-child(1){
  min-width: 40%;
}
#backRender .editor .resumenFacturacionScroll span:nth-child(2){
  flex-direction: column;
  align-items: stretch;
}
#backRender #factBotoneraXtra.factBotoneraXtraScroll{
  flex-direction: row;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 30;
}
#backRender.factBackRenderScroll{
  margin-bottom: 150px;
}

/* Media Style */

@media (max-width: 800px) {

}

@media (max-width: 576px) {
  #loginForm {
    margin: 0 2em;
  }
  header > span{
    flex-direction: column;
  }
  header >span span{
    text-align: center;
  }
  header > span img {
    width: 120px;
  }
  header > span #userIcon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .produccionCont{
    flex-direction: column-reverse;
  }
  .pedidoEstado{
    flex-direction: column;
  }
}