<%- include("../partial/erroresForm")%>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/menuProductosFabrica", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/editarCategoriaFabrica",  { valoresForm }) %>
</div>