<%- include("../partial/erroresForm")%>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/menuProductosFabrica", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/editarProductoFabrica",  { categorias, sectores, valoresForm }) %>
</div>