<%- include("../partial/erroresForm")%>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/menuLocal", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/editorLocal", { data })%>
</div>