<%- include("../partial/erroresForm")%>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/cortina")%>
<div id="backRender">
<%- include("../partial/editarPedidoProduccion",  {}) %>
</div>
<script src="/script/editarProduccion.js"></script>