<%- include("../partial/erroresForm")%>
<%- include("../partial/cortina")%>
<div id="backRender" class="factBackRender">
    <%- include("../partial/facturacion",  { productos, categorias }) %>
</div>
<script defer src="/script/facturacion.js"></script>
<script defer src="/script/cuit.js"></script>
<script defer src="/script/tickets.js"></script>
<script defer src="/script/facturacionMenu.js"></script>
<script defer src="/script/facturacionCategorias.js"></script>