<%- include("../partial/confirmarEliminar") %>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/menuProductosFabrica", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/nuevoProductoFabrica",  { categorias, sectores, valoresForm }) %>
</div>