<%- include("../partial/menu", {menu: "small"})%>
<div id="backRender">
<%- include("../partial/produccion/nueva",  { ultimoPedido, productos, valoresForm }) %>
</div>
<script src="/script/produccion.js"></script>