<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/cortina")%>
<div id="backRender">
<%- include("../partial/nuevaProduccion",  { ultimoPedido, productos, categorias }) %>
</div>
<script src="/script/produccion.js"></script>