<%- include("../partial/erroresForm")%>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/menuReportes", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/nuevaCategoriaReportePlanta",  {}) %>
</div>