<%- include("../partial/erroresForm")%>
<%- include("../partial/cortina")%>
<%- include("../partial/menu", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/precios", { data }) %>
</div>