<%- include("../partial/menu", {menu: "small"})%>
<div id="backRender" class="reporte">
    <%- include("../partial/reportePlanta", {
        sector,
        fecha,
        data,
        categorias,
        productos,
    }) %>
</div>