<%- include("../partial/confirmarEliminar") %>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/menuReportes", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/reportePlantaCategorias", {}) %>
</div>