<%- include("../partial/menu", {menu: "small"})%>
<div id="backRender" class="reporte">
    <%- include("../partial/reportePlanta", {}) %>
</div>

<script>
    window.productos = <%- JSON.stringify(productos) %>
</script>