<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/cortina")%>
<%- include("../partial/menuProduccion", {menu: "small"})%>
<div id="backRender" id="contProduccion">
    <div id="popScreen"></div>
<%- include("../partial/tablaProduccionLocal",  {}) %>
</div>

<script defer src="/script/tablaProduccion.js"></script>