<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/cortina")%>
<div id="backRender" id="contProduccion">
    <div id="popScreen"></div>
<%- include("../partial/tablaProduccion",  {}) %>
</div>

<script defer src="/script/tablaProduccion.js"></script>
