<div id="graciasCont">
    <img src="/im/gracias.png" alt="">
    <h1>Gracias por tu compra</h1>
    <span>Que la disfrutes</span>
    <div class="btn" id="graciasInicio">volver al inicio</div>
</div>