<div class="pedidoRender">
    <%- include("partial/pedidoCard")%>
    <%- include("partial/pedidoChat")%>
</div>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/script/chatFront.js"></script>
<script defer src="/script/chat.js"></script>