<form action="" method="post" id="cierreCajaApertura" class="editor">
    <h1>Apertura de Caja</h1>
    <span>
        <label for="efectivo">Efectivo en caja</label>
        <input type="number" min="0" name="efectivo" id="efectivo" />
    </span>
    <span>
        <label for="reservado">Efectivo reservado</label>
        <input type="number" min="0" name="reservado" id="reservado" />
    </span>
    <span>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" />
    </span>

    <input type="submit" value="Abrir Caja">
    </span>
</form>

<script defer src="/script/abrirCaja.js"></script>