<div id="cortina" class="fondoCortina"></div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<h2>Estadisticas</h2>
<div class="statsCont">
    <div class="statsBotonera">
        <div class="backCard small statsBtn statsFabrica" id="statsBtnVentas" data-periodo="Todos los datos" data-stats="ventasTotal">
            <h1>Ventas Diarias</h1>
        </div>
        <div class="backCard small statsBtn statsFabrica" id="statsBtnCronograma" data-periodo="Todos los datos" data-stats="operacionesPromedio" data-name="Operaciones Promedio">
            <h1>Ventas por Horario</h1>
        </div>
        <div class="backCard small statsBtn statsFabrica" id="statsBtnProductos"  data-periodo="Todos los datos" data-stats="productosTotal"  data-name="Productos Promedio">
            <h1>Ventas por Producto</h1>
        </div>
        <!-- <div class="backCard small statsBtn btnVerde" id="statsBtnDownload"  data-periodo="Todos los datos" data-stats="productosTotal"  data-name="Productos Promedio">
            <h1>Descargar info en planilla</h1>
        </div> -->
    </div>
    <span>
        <div id="calendarioStats">
            Buscar fecha <input type="date" name="fechaEstadisticaFabrica" id="fechaEstadisticaFabrica" value="">
        </div>
        <div id="statsChart"></div>
        <div class="statsSubBotonera">
            <div class="backCard small statsFabrica" id="statsValoresTotales" data-stats="">
                <h1>Total</h1>
            </div>
            <div class="backCard small statsFabrica" id="statsValoresPromedio" data-stats="">
                <h1>Promedio</h1>
            </div>
            <hr>
            <div class="backCard small statsFiltrosLocales statsFabrica" id="statsLocalesTodos">
                <h1>Todos los locales</h1>
            </div>
            <div class="backCard small statsFiltrosLocales statsFabrica" id="statsLocalesTop10">
                <h1>Top 10</h1>
            </div>
            <div class="backCard small statsFiltrosLocales statsFabrica" id="statsLocalesIndividual">
                <h1>Individual</h1>
            </div>
        </div>
        <div class="statsSubBotonera">
            <div class="backCard small filtrarDias statsFabrica" data-stats="ventasTotal" id="statsDiarios" data-dias=1 data-periodo="Diario">
                <h1>Diario</h1>
            </div>
            <div class="backCard small filtrarDias statsFabrica"  id="statsSemana" data-stats="ventasTotal" data-dias=7 data-periodo="Ultima semana">
                <h1>Semana</h1>
            </div>
            <div class="backCard small filtrarDias statsFabrica"  id="statsQuincena" data-stats="ventasTotal" data-dias=15 data-periodo="Ultima quincena">
                <h1>Quincena</h1>
            </div>
            <div class="backCard small filtrarDias statsFabrica"  id="statsMes" data-stats="ventasTotal" data-dias=30 data-periodo="Ultimo mes">
                <h1>Mes</h1>
            </div>
            <div class="backCard small filtrarDias statsFabrica"  id="statsTimestre" data-stats="ventasTotal" data-dias=90 data-periodo="Ultimo trimestre">
                <h1>Trimestre</h1>
            </div>
            <div class="backCard small statsFabrica" id="statsVerTodo"  id="statsTodo" data-stats="ventasTotal" data-periodo="Todos los datos">
                <h1>Todo</h1>
            </div>
            <!-- <div class="backCard small statsFabrica" id="statsFechasCalendario" data-stats="ventasTotal" data-periodo="Filtro manual">
                <h1>Manual</h1>
            </div> -->
        </div>
    </span>
    
</div>

<script>
    window.statsFacturacion = <%- JSON.stringify(statsFacturacion) %>
    window.localesConFacturacion = <%- JSON.stringify(localesConFacturacion) %>
</script>
<script src="/script/estadisticasFabrica.js" defer></script>