<div id="errores"></div>
<div class="factSubCont">
    <form action="" method="post" class="editor" id="nuevaVenta">
        <h1>Facturacion</h1>
        
        <span>
            <table id="detallesFacturacion">
                <thead>
                    <tr>
                        <!-- <th>Item</th> -->
                        <th>Cód</th>
                        <th>Producto</th>
                        <th>Cant</th>
                        <th>Medida</th>
                        <th>Precio</th>
                        <!-- <th>IVA</th> -->
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody id="itemsfacturacion">
                </tbody>
            </table>
        </span>
        <span>
            <div class="btn btnGris btnSmall agregarItems" data-cantidad="1">+1</div>
            <div class="btn btnGris btnSmall agregarItems" data-cantidad="5">+5</div>
        </span>
        <span>
            <table id="totalFacturacion">
                <thead>
                    <tr>
                        <th>Neto</th>
                        <th>IVA 10,5%</th>
                        <th>IVA 21%</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="neto" class="tablaCeldaNumero"></td>
                        <td id="iva10" class="tablaCeldaNumero"></td>
                        <td id="iva21" class="tablaCeldaNumero"></td>
                        <td id="total" class="tablaCeldaNumero"></td>
                    </tr>
                </tbody>
            </table>
        </span>
        <span>
            <!-- <input type="reset" value="Reiniciar" class="btn btnNaranja" id="resetFacturacion"> -->
            <!-- <input type="submit" value="Facturar" class="btn btnVerde"> -->
            <span class="btn btnNaranja flexgrow" id="resetFacturacion">Limpiar</span>
            <span class="btn btnVerde flexgrow" id="enviarFacturacion">Registrar</span>
        </span>

        <div id="facturacionDetalles" style="display: none;">
            <div class="editor">
                <span>
                    <label for="vueltoTotal">Total</label>
                    <div type="text" id="vueltoTotal">$0</div>
                </span>
                <span>
                    <label for="vueltoPago">Pago</label>
                    <input type="number" id="vueltoPago" min="0">
                </span>
                <span>
                    <label for="vuelto">Vuelto</label>
                    <div type="number" id="vuelto">$0</div>
                </span>
                <span id="btnSenia">
                    <div class="btn btnNaranja" id="tomarSenia">Tomar seña</div>
                </span>
                <hr>
                <span>
                    <label for="fecha">Fecha</label>
                    <input type="date" name="fecha" id="fecha">
                </span>
                <span>
                    <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo">
                        <option value="1">A</option>
                        <option value="6">B</option>
                        <option value="11">C</option>
                        <option value="X" selected>X</option>
                        <option value="NC">NC</option>
                    </select>
                </span>
                <span id="ncSpan" style="display: none;">
                    <label for="nc">Tipo</label>
                    <select name="nc" id="nc">
                        <option value="" selected disabled>-Seleccione un item-</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="X">X</option>
                    </select>
                </span>
                <span>
                    <label for="formaDePago">Forma de Pago</label>
                    <select name="formaDePago" id="formaDePago">
                        <option value="efectivo" selected>Efectivo</option>
                        <option value="debito">Débito</option>
                        <option value="credito">Crédito</option>
                        <option value="transferencia">Transferencia</option>
                    </select>
                </span>
                <span>
                    <label for="cuit">CUIT</label>
                    <input type="text" name="cuit" id="cuit">
                </span>
                <span>
                    <span class="btn btnRojo flexgrow" id="resetFacturacion">Cancelar</span>
                    <span class="btn btnVerde flexgrow" id="confirmarFacturacion">Facturar</span>
                </span>
                <span class="btn btnVerde flexgrow" id="confirmarFacturacionEImpresion">Facturar e Imprimir</span>
            </div>
        </div>

        <span id="camposOcultos">
            <input type="hidden" name="datos" id="datosHide">
            <input type="hidden" name="neto" id="netoHide">
            <input type="hidden" name="netoiva10" id="netoiva10Hide">
            <input type="hidden" name="iva10" id="iva10Hide">
            <input type="hidden" name="netoiva21" id="netoiva21Hide">
            <input type="hidden" name="iva21" id="iva21Hide">
            <input type="hidden" name="total" id="totalHide">
            <input type="hidden" name="imprimir" id="imprimir" value="false">
            <input type="hidden" name="senia" id="seniaHiden" value="0">
        </span>
    </form> 

    <div id="factBotonesRapidos">
        <!-- autofill javascript -->
    </div>

    
    <script>
        window.categorias = <%- JSON.stringify(categorias) %>
        window.productos = <%- JSON.stringify(productos) %>
        window.botones = <%- JSON.stringify(botonesfacturacion) %>
    </script>
</div>