<footer>
    <img src="/im/logoDH.png" alt="logo Dulce Hora" />
    <p>
      Dulce Hora Villa Real 2023 <br />
      Simbrón 5317 - CABA <br />
      <a href="">Quejas y sugerencias</a>
    </p>
  </footer>