<div style="flex-grow: 1">
  <form id="loginForm" action="/login" method="post">
    <span>Ingreso</span>
    <input
      type="text"
      name="loginUsuario"
      id="loginUsuario"
      placeholder="usuario"
    />
    <input
      type="password"
      name="loginPassword"
      id="loginPassword"
      placeholder="contraseña"
    />
    <input type="submit" value="ingresar" id="loginIngresar" />
  </form>
</div>