<div class="backMenu" class="backSubMenu">
    <h2>Registros de Facturación</h2>
    <div class="backCard <%= menu %>" id="facturacionLocalRegistros">
        <h1>Facturación</h1>
    </div>
    <div class="backCard <%= menu %>" id="facturacionLocalSenias">
        <h1>Señas</h1>
    </div>
    <div class="backCard <%= menu %>" id="">
        <h1>Cierre de Caja</h1>
    </div>
    <div class="backCard <%= menu %>" id="">
        <h1>Estadísticas</h1>
    </div>
</div>
<script defer src="/script/menuRegistrosFacturacion.js"></script>