<div class="backMenu" class="backSubMenu">
    <h2>Locales</h2>
    <div class="backCard <%= menu %>" id="verLocales">
        <h1>Locales</h1>
    </div>
    <div class="backCard <%= menu %>" id="nuevoLocal">
        <h1>Nuevo Local</h1>
    </div>
    <div class="backCard <%= menu %>" id="verServicios">
        <h1>Servicios</h1>
    </div>
    <div class="backCard <%= menu %>" id="nuevoServicio">
        <h1>Nuevo Servicio</h1>
    </div>
</div>