<div id="backMenu" class="backSubMenu">
    <h1>Fotos</h1>
    <div class="backCard <%= menu %>" id="fotosProducto">
        <h1>Fotos de Productos</h1>
    </div>
    <div class="backCard <%= menu %>" id="fotosCategorias">
        <h1>Fotos de Categorías</h1>
    </div>
    <div class="backCard <%= menu %>" id="fotosLocales">
        <h1>Fotos de Locales</h1>
    </div>
</div>