<div class="backMenu" class="backSubMenu">
    <h1>Productos</h1>
    <div class="backCard <%= menu %>" id="verCategoriaFabrica">
      <h1>Ver Catergorías</h1>
    </div>
    <div class="backCard <%= menu %>" id="nuevaCategoriaFabrica">
      <h1>Nueva Catergoría</h1>
    </div>
    <div class="backCard <%= menu %>" id="productosFabrica">
        <h1>Ver Productos</h1>
      </div>
    <div class="backCard <%= menu %>" id="nuevoProdFabrica">
      <h1>Nuevo Producto</h1>
    </div>
  </div>