<div class="backMenu" class="backSubMenu">
    <h2>Reportes</h2>
    <div class="backCard <%= menu %>" id="verReportes">
        <h1>Reportes</h1>
    </div>
    <div class="backCard <%= menu %>" id="categoriasReportePlanta">
        <h1>Catergorías Reporte de Planta</h1>
    </div>
    <div class="backCard <%= menu %>" id="nuevaCategoriasReportePlanta">
        <h1>Catergorías Reporte de Planta</h1>
    </div>
</div>
<script defer src="/script/menuReportes.js"></script>