<div class="backMenu" class="backSubMenu">
    <h2>Facturación</h2>
    <div class="backCard <%= menu %>" id="factFabRegistros">
        <h1>Ventas del dia</h1>
    </div>
    <div class="backCard <%= menu %>" id="factFabStats">
        <h1>Estadisticas</h1>
    </div>
    <div class="backCard <%= menu %>" id="factFabBotones">
        <h1>Botones Rápidos</h1>
    </div>
    <div class="backCard <%= menu %>" id="factFabBotonesNuevo">
        <h1>Nuevo Boton Rápido</h1>
    </div>
</div>

<script defer src="/script/menuFacturacionFabrica.js"></script>