<div class="backMenu" class="backSubMenu">
    <h1>Usuarios</h1>
    <div class="backCard <%= menu %>" id="verUsuario">
        <h1>Ver Usuario</h1>
    </div>
    <div class="backCard <%= menu %>" id="nuevoUsuario">
        <h1>Nuevo Usuario</h1>
    </div>
</div>