<%locales.sort((a, b) => {
  let x = a.nombre.toLowerCase();
  let y = b.nombre.toLowerCase();
  if (x < y) {return -1;}
  if (x > y) {return 1;}
  return 0;
})%>
<form action="" method="post" class="editor" id="usuarioForm">
  <h1>Nuevo Usuario</h1>
  <span>
    <label for="usuario">Usuario</label>
    <input type="text" name="usuario" id="usuario" value="" />
  </span>
  <span>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" placeholder="contraseña" autocomplete="new-password"><br>
  </span>
  <span>
    <label for="password">Repetir Contraseña</label>
    <input type="password" name="passwordrep" id="passwordrep" placeholder="repetir contraseña" autocomplete="off"><br>
  </span>
  <span id="refPassword">La contraseña debe tener un mínimo de 6 caracteres y contener por lo menos 1 número</span>
  <span>
    <label for="ubicacionUser">Ubicación</label>
    <select name="ubicacionUser" id="ubicacionUser">
      <option value="" disabled selected>-Seleccionar-</option>
      <option value="fabrica">Fábrica</option>
      <option value="local">Local</option>
    </select>
  </span>
  <span>
    <label for="rolUser">Rol</label>
    <select name="rolUser" id="rolUser" disabled>
        <option value="" selected disabled>-Seleccione un Rol-</option>
    </select>
  </span>
  <span style="display: none;" id="localUserSelect">
    <label for="local">Local</label>
    <select name="local" id="localUser">
        <option value="0" selected>-Seleccione un local-</option>
        <% locales.forEach((local) => {%>
          <option value="<%=local.id%>"><%=local.nombre%></option>
        <% }) %>
    </select>
  </span>
  <!-- <span>
    <input type="text" name="local" id="localUserProduccion" disabled value="0" style="display: none;">
  </span> -->
  <span>
    <input type="submit" value="Crear" />
  </span>
</form>
<script defer src="/script/nuevoUsuario.js"></script>
<script defer src="/script/passwords.js"></script>