<form action="" method="post" id="nuevaProduccion" class="editor">
    <h1>Nuevo Pedido Producción</h1>
    <%= ultimoPedido %>
    <span>
        <span>Fecha de entrega:</span>
        <span></span>
    </span>
    <span>
        <label for="id">ID</label>
        <input type="text" name="id" id="id" value="" readonly />
    </span>
    <span>
        <label for="categoria">Categoria</label>
        <input type="number" name="categoria" id="categoria" value="" />
    </span>
    <span>
        <input type="submit" value="Enviar">
    </span>
</form>