<form action="" method="post" id="nuevoServicio" class="editor">
    <h1>Nuevo Servicio</h1>
    <span>
        <label for="id">ID</label>
        <input type="text" name="id" id="id" value="<%= data || valoresForm.id %>" readonly />
    </span>
    <span>
        <label for="servicio">Servicio</label>
        <input type="text" name="servicio" id="servicio" />
    </span>
    <span>
        <input type="submit" value="Crear">
    </span>
    <input type="hidden" name="tipo" value="nuevo">
</form>