<form action="" method="post" id="reportesProduccion" class="editor">
    <h1>Reportes de Produccion</h1>
    <span>
        <label for="fecha">Fecha</label>
        <input type="date" name="fecha" id="fecha" />
    </span>
    <span>
        <label for="tipo">Reporte</label>
        <select name="tipo" id="tipo">
            <option value="" selected disabled>- Seleccionar un local -</option>
            <option value="planta">Reporte de Planta</option>
            <option value="pedidos">Reporte de Pedidos</option>
            <option value="valorizado">Reporte Valorizado</option>
        </select>
    </span>
    <span>
        <label for="sector">Sector</label>
        <select name="sector" id="sector">
            <option value="" selected disabled>- Seleccionar un sector -</option>
            <% sectores.forEach((sector) => {%>
                <option value="<%= sector.sector  %>"><%= sector.sector  %></option>
            <%}) %>
        </select>
    </span>
    <span>
        <input type="submit" value="Crear Reporte">
    </span>
</form>