<%categorias.forEach((categoria) => {%>
    <div>
        <div class="categoria pointer" data-categoria="<%= categoria.categoria%>">
            <p><%= categoria.categoria%></p>
            <img src="<%= categoria.imgCat%>" alt="">
        </div>
    </div>
<% }) %>