<div id="pasos" style="scroll-behavior:smooth;">
    <div id="pasosImg">
        <img src="im/pasos1.svg" alt="pasos 1" id="pasos1" class="pasos">
        <img src="im/pasos2.svg" alt="pasos 2" id="pasos2" class="pasos">
        <img src="im/pasos3.svg" alt="pasos 3" id="pasos3" class="pasos">
        <img src="im/pasos4.svg" alt="pasos 4" id="pasos4" class="pasos">
    </div>
</div>