<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de control DH</title>
    <link rel="stylesheet" href="/css/estiloback.css" />
    <link rel="stylesheet" href="/css/estiloFacturacion.css" />
    <link rel="stylesheet" href="/css/comprobante.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="icon" type="image/x-icon" href="/im/favicon.ico">
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
  </head>
  <body>
    <div id="factTickets"></div>
    <div id="cont" class="factCont">
      <%- include("../partial/headerFacturacion")%>
      
        <%- body %>

      <%- //include("../partial/footer")%>
    </div>
    <%- include("../partial/script")%>
  </body>
</html>