<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Dulce Hora</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/estiloMedia.css">
    <link rel="icon" type="image/x-icon" href="/im/favicon.ico">
</head>
<body>
    <div id="cont">
        <div id="popScreen" style="display:none;">
            <!-- JS Fill -->
        </div>
        <%- include("../front/partial/header")%>
        <%- body %>
        <%- include("../front/partial/footer")%>
    </div>
    <script src="script/script.js" type="module"></script>
</body>
</html>