<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de control DH</title>
    <link rel="stylesheet" href="/css/estiloback.css" />
    <link rel="icon" type="image/x-icon" href="/im/favicon.ico">
  </head>
  <body>
    <div id="cont">
      <%- include("../partial/header")%>
      
        <%- body %>

      <%- include("../partial/footer")%>
    </div>
    <%- include("../partial/script")%>
  </body>
</html>